*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120vh;
    background-color: #f0f2f5;
}

.container{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.right, form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.left{
    width:550px;
    align-items: flex-start;
}
img{
    width:300px;
}
.left p{
    font-size: 30px;
    color:#1c1e21;
    height: 200px;
    font-family: "Roboto Condensed", sans-serif;
}
.right{
    width:400px;
}

form{
    background-color: white;
    border-radius: 10px;
    width:400px;
    display: flex;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
form input{
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #999;
    outline: none;
    font-size: 16px;
}

.loginBtn{
    background-color: #1877f2;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: 700;
    transition: 0.5s;
}

.loginBtn:hover{
    background-color: #0a6dee;
}

.forget{
    margin: 15px 0;
    text-decoration: none;
    color: #0f66d8;
    font-family: 'Arial';
    font-size: 14px;
}

.sign-up{
    padding-top: 20px;
    border-top: 1px solid #999;
    width: 100%;
    display: flex;
    justify-content: center;
}

.signupBtn{
    background-color: #42b72a;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-family: 'Arial';
    font-weight: 600;
    transition: 0.5s;
}

.signupBtn:hover{
    background-color: green;
}

.right p{
    font-family: 'Arial';
    font-size: 15px;
}
.page{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 27vh;
    background-color: white;
    padding: 0 150px;
}
.footer{
    width:100%;
    height:100%;
    display: block;
    align-items: center;
    padding-top: 30px;
}
.top>a, .bottom>a{
    text-decoration: none;
    color:rgb(63, 56, 56, 0.7);
    font-size: 13px;
    font-size: 12px;
    padding-right: 5px;
}
.top>a{
    padding-right: 5px;
}
span{
    color:rgb(63, 56, 56, 0.8);
    font-size: 13px;
    padding-right: 10px;
    font-size: 12px;
}
small{
    font-size: 11px;
    color: rgb(63, 56, 56, 0.8);
}
.input:focus{
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}
@media(max-width:950px){
    .container{
        flex-direction: column;
    }
    
    .left{
        width: 400px;
        align-content: center;
        align-items: center;
    }
    
    .left p{
        height: 75px;
    }
}








/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.all{
    width:80vw;
}
main{
    height: 720px;
    background-color: #f0f2f5;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer{
    height: 176px;
}
img{
    width:300px;
    position:relative;
    top:175px;
    left: 30px;
}
.main{
    display: inline-flex;
    flex-wrap: wrap;
}
.form-filling{
    margin-top: 100px;
}   
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 28px;
    opacity: 0.9;
    position: relative;
    top:175px;
    left: 68px;
    margin:-10px;
    max-width:500px;
}
.input, .btn-login, .pass, .acc{
    display:block;
}
.input, .btn-login{
    border-style: solid;
    border-color:#dddfe2;
    color: #1d2129;
    font-size: 16px;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    width:350px;
}
form{
    position:relative;
    top:40px;
    left:162px;
    border:none;
    padding:10px;
    background-color: white;
    height:fit-content;
    border-radius: 10px;
    text-align: center;
}
.form-filling p{
    position: relative;
    top: 70px;
    left: 190px;
    font-size: 14px;
}
.input{
    border: 1px solid #dddfe2;
    color: #1d2129;
    outline: none;
    border-radius: 5px;
}
.input:focus{
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}
.btn-login{
    background-color: #1877f2;
    color:white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.btn-login:hover{
    background-color: #0a6dee;
}
.pass, .accc{
    text-decoration: none;
}
.acc{
    border-style: solid;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    margin-top: 15px;
    margin-left: 25%;
    border-radius: 6px;
    width:200px;
    background-color: #42b72a;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
}
.acc:hover{
    background-color: #309c1a;
}
.accc{
    color: white;
}
hr{
    opacity: 0.3;
}
.pass{
    color:#1877f2;
    font-size: 14px;
    text-decoration: none;
    padding-bottom: 20px;
}
.pass:hover{
    text-decoration: underline;
}
.page{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.footer{
    width: 72vw;
    position: relative;
    left:180px;    
}
.top{
    padding-top:25px;
    margin-bottom: -20px;
}
.top>a, .bottom>a{
    text-decoration: none;
    color:rgb(63, 56, 56, 0.7);
    font-size: 13px;
    padding-right: 15px;
    font-size: 12px;
}
.top>a{
    padding-right: 5px;
}
span{
    color:rgb(63, 56, 56, 0.8);
    font-size: 13px;
    padding-right: 5px;
    font-size: 12px;
}
small{
    font-size: 11px;
    color: rgb(63, 56, 56, 0.8);
} */